/*
Color 1: #4E7DA6 (A shade of blue)
Color 2: #8C98A7 (A shade of gray-blue)
Color 3: #C7CBD1 (A light gray)
Color 4: #F0F0F0 (A very light gray, almost white)
Color 5: #333333 (A dark gray)
*/

/*------------------Content---------------------------------*/




/*----------------------------Main---------------------------------*/



/*----------------------------C1---------------------------------*/

.c1 {
    background-color: white;
}

/*----------------------------c2---------------------------------*/

.c2 {
    background-color: white;
}
/*----------------------------c3---------------------------------*/

.c3 {
    background-color: white;
}

/*----------------------------c4---------------------------------*/

.c4 {
    background-color: white;
}
