/*-----------------Main-------------------------------------------*/


.main {
    height: 300vh;
}

#city {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    position: relative;
    top: 20%;
}

#city img {
    display: block;
    opacity: 0.9;
    box-shadow: 0px 0px 30px 5px white;
    border-radius: 10px;
    width: 80%;
    height: 45%;
    transition: box-shadow 2s ease, width 0.2s ease, border-radius 1s ease;
    z-index: 2;

}

#city img.transformed {
    box-shadow: 0px 0px 50px 20px;
}

#city img:hover {
    width: 92%;
    border-radius: 0px;
}

#city-text {
    background-color: #4E7DA6;
    color: white;
    opacity: 0;
    width: 50%;
    padding: 20px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    padding-left: 50px;
    transform:translateY(-250px);
    visibility: hidden;
    z-index: 1;
    transition: transform 0.5s ease, visibility 0.5s ease, opacity 1s ease;
}

#city-text.transformed {
    visibility: visible;
    opacity: 0.9;
    transform: translateY(0);
    transition: transform 0.5s ease;

}

#city-text a {
    z-index: 1;
}

#city-text div {
    padding: 10px;
}

#city-text h2 {
    opacity: 0.95;
    margin-bottom: -10px;
    margin-top: 5px;
    text-shadow: 0px 0px 16px #002030;
    text-align: center;
}

#city-text p {
    margin-bottom: 20px;

}

#discover {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: #002030;
    color: white;
    border-radius: 10px;
    opacity: 0.9;
    margin-top: -12px;
    width: 30%;
    text-align: center;
}

#discover:hover {
    opacity: 0.8;
}

#discover-container{
    display: flex;
    justify-content: center;
}

/*-------------about--------------*/

#about {
    width: 60%;
    margin: auto;
    position: relative;
    top: 30%;
}

.real_world_examples {
    margin: 50px;
    padding: 25px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 20px white;
    opacity: 0.9;
}

.real_world_examples img{
    object-fit: contain;
    width: 100%;
    border: 3px solid #002030

}

.real_world_examples div {
    margin: 10px;
    width: 100%
}


/*----------------Video-------------------*/

#background-video {
    position: fixed;
    right:0;
    bottom:0;
    z-index: -1;
}

.slogan {
    color: white;
    padding: 30px;
    margin: 8%;
    font-size: 2.5vw;
    text-align: center;
}



.slogan h1:hover {
    font-style: italic;
}


/* Add additional styling as needed */


/*--------------------------------------------------------------*/

/*----------------------HEADER-----------------------------------*/

.header > nav {
    display: flex;
    height: 80px;
    padding: 5px;
    border-radius: 10px;
    margin: 10px
}

.bigNav {
    display: flex;
    list-style-type: none;
    padding: 10px;
    align-items: center;
}

#nav-menu li {
    margin-left: 40px;
    font-size: large;
}

#contact {
    position:absolute;
    right: 10%;
    background-color:black ;
    padding: 15px;
    border-radius: 7px;
}

#nav-menu li a {
    text-decoration: none;
    font: bold;
    color: white;
}

#nav-menu li a:hover {
    color: white;
    padding: 10px;
    border-radius: 40%;
    text-decoration: underline;
}


.lilNav {
    color: pink;
}

.logo img {
    max-height: 100%;
    box-shadow: 0px 0px 8px white;
    border-radius: 50%;
}

.logo img:hover{
    box-shadow: 0px 0px 20px white;
    max-height: 102%;
}



/*-------------------------------------------------------------------*/

